---
- name: "copy files from local to remote machine"
  hosts: remoteserver
  tasks:
    - name: copy files using copy modules to remote server
      become: yes
      copy:
        src: ~/Documents
        dest: /home/user
        owner: user #Owner of the file at the destination server once copied
        group: user #Group of the file at the destination server once copied
        mode: 777   #Permission of the file after copying
